[submodule "lib/Adafruit_MPU6050"]
	path = lib/Adafruit_MPU6050
	url = git@github.com:adafruit/Adafruit_MPU6050.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = git@github.com:adafruit/Adafruit_BusIO.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
[submodule "lib/Adafruit_SSD1306"]
	path = lib/Adafruit_SSD1306
	url = git@github.com:adafruit/Adafruit_SSD1306.git
[submodule "lib/Adafruit_BME280_Library"]
	path = lib/Adafruit_BME280_Library
	url = git@github.com:adafruit/Adafruit_BME280_Library.git
